/*Establish Body details*/
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #95BFBB;
    font-family: 'Comic Neue';
}
/*---------------------------------------------------------*/

/*Grid establishment*/
.container{
    display: inline-grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(6, 100px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-gap: 5px;
    grid-template-areas:
        'main main main main main item2 item2 item2'
        'main main main main main item2 item2 item2'
        'main main main main main item3 item3 item3'
        'main main main main main item3 item3 item3'
        'main main main main main item4 item4 item4'
        'main main main main main item4 item4 item4';
    text-align: center;
}
.item{
    background-color: #60A69F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.item1 {
    grid-area: 1/1/7/6;
}
.item2 {
    grid-area: 1/6/3/9;
}
.item3 {
    grid-area: 3/6/5/9;
}
.item4 {
    grid-area: 5/6/7/9;
}
/*---------------------------------------------------------*/

/*Establish Content Divs*/
.leftContent{
    height: 610px;
    width: 505px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #CAC2BD;
}
.trContent{
    height: 190px;
    width:295px;
    border-radius: 10px;

    background-image: url("https://img1.picmix.com/output/stamp/normal/6/2/9/7/1807926_d2975.gif");
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #CAC2BD;
}
.mrContent{
    height: 190px;
    width: 295px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #CAC2BD;
}
.brContent{
    height: 190px;
    width: 295px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #CAC2BD;
}
/*---------------------------------------------------------*/

/*Establish ACTUAL content*/
.leftContent-Content {
    height: 590px;
    width: 485px;
    border: 2px dashed #95BFBB;
    border-radius: 10px;

    text-align: center;
}
.trContent-Content {
    height: 170px;
    width: 275px;
    border: 2px dashed #95BFBB;
    border-radius: 10px;
}
.mrContent-Content {
    height: 170px;
    width: 275px;
    border: 2px dashed #95BFBB;
    border-radius: 10px;
}
.mrContent-Content > button {
    display: block;
    margin: 5px auto;
}
.brContent-Content {
    height: 170px;
    width: 275px;
    border: 2px dashed #95BFBB;
    border-radius: 10px;
}
.brContent-Content > img {
    height: 15%;
}